<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3><u>Detalles</u></h3>
        </div>
        <div class="col-md-4 d-flex gap-3 justify-content-end">
            <a class="btn btn-danger" asp-controller="Login" asp-action="Login">Cerrar Sesión</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card p-2">
                <h4 class="text-center mt-4">El libro de la Seducción</h4>
                    <div class="card-text d-flex mt-4">
                        <img src="https://m.media-amazon.com/images/I/51jI4VBQENL._SL500_.jpg" width="200px" alt="El libro de la seducción">
                        <p style="overflow-y: auto; height:200px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quam, neque vel iure debitis soluta at saepe, rem architecto quasi sunt tempora nostrum nemo facere doloribus laboriosam enim ullam aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda officia aut ipsum architecto! Ea tenetur minima asperiores ipsa illo animi, commodi quae? Provident quasi facilis maiores laborum minima nulla soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat eveniet nostrum accusamus voluptas animi laborum distinctio, doloribus ad unde inventore ratione! Ex totam asperiores voluptatem dolorum facere, alias consequatur repellat?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-2">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>