<link rel="stylesheet" href="~/css/styles.css" /> 

<div class="container">
    <div class="row">
        <center>
        <div class="col-md-6" >
            <img width="200px" src="https://www.nicepng.com/png/detail/119-1191946_icono-libro-abierto-png-open-book-png-white.png" alt="">
        </div>
        </center>
    </div>
</div><center>
 <div class="login-container">
        <h2>Iniciar sesión</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="username">Usuario:</label><br>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label><br>
                <input type="password" id="password" name="password" required>
            </div><br><br>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
    </center>