<div style="text-align: right;">
    <button class="btn btn-danger">Cerrar sesión</button>
</div>

<div class="row" >
    <h2>Gestion de Usuarios</h2><br>
    

</div>
<input type="search" id="searchInput" name="searchInput" class=" focus"  placeholder="Buscar...">